* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(45deg, #fff, #fce4ec);
  margin: auto;
  font-size: 15px;
}

header {
  position: sticky;
  top: -50px;
  background: #fce4ec;
  padding: 5px;
  z-index: 5;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
}
#logo {
  width: 60px;
  cursor: pointer;
}

.fa-phone {
  margin-right: 10px;
}

#cabecera {
  color: #9e2372;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: #9e2372;
  font-size: 18px;
  font-weight: bold;
  padding-top: 8px;
}

#menu {
  width: 100%;
  background-color: #9e2372;
}
.myBtnContainer {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0px 5% 0;
}

.main_cont {
  display: grid;
  grid-template-columns: 50% 50%;
}

.column {
  padding: 10px;
  display: none; /* Hide columns by default */
}

.cont_imagen {
  position: relative;
}

.cont_imagen i {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.459);
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn,
.reservar {
  background-color: #9e2372;
  color: #ffffff;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 8px;
  margin: 2px 0;
  border-radius: 7px;
}

/* Botones de menú */
.reservar2 {
  background-color: #dddc82;
  color: #9e2372;
  border: 1px solid #9e2372;
  cursor: pointer;
  font-size: 15px;
  padding: 8px;
  margin: 2px 0;
  border-radius: 7px;
  min-width: 82px;
}

.reservar2:hover {
  background-color: #9e2372;
  color: #bbd2b5;
  border: 1px solid #dddc82;
}

/* Add a grey background color on mouse-over */
.btn:hover,
#menu:hover,
.reservar:hover {
  color: #9e2372;
  background-color: #ffffff;
  transition: 0.5s;
  border: 1px solid #9e2372;
}

.bloque_bandera {
  display: flex;
  align-items: center;
}

.flag {
  width: 35px;
  margin: 8px 0px 0 30px;
}

hr,
h4 {
  color: #9e2372;
}
/* Ocultar icono de imágenes en dispositivos grandes */
.ocultar {
  display: inherit;
}
@media only screen and (min-width: 699px) {
  .ocultar {
    display: none;
  }
}

/* Bebidas */
.cont_bebidas {
  margin-top: 30px;
  padding: 0 5%;
}

.main_drinks {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 50% 50%;
}

.price {
  color: #9e237298;
  font-weight: 800;
}

.bebidas_title {
  font-weight: bold;
  color: #00000095;
  line-height: 1.5;
}
.drinks {
  font-size: 1.1rem;
  color: #42b67f;
  padding-bottom: 5px;
}

#bebidas {
  width: 90vw;
}

/* footer */
footer {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 50px 0 100px;
  line-height: 1.5rem;
  background-color: #9e2372;
}

.footer {
  text-align: center;
  padding: 0 10px;
}

.horario,
footer a,
footer h4 {
  color: #ffffff;
}

footer h2 {
  padding-bottom: 10px;
}

.telefono {
  color: pink;
}

.fab {
  font-size: 24px;
  margin: 10px;
}
.iconos_footer {
  text-align: center;
}

.politicas {
  text-align: center;
  padding: 0 10px;
}

.avisos {
  display: inline-block;
}

.fa-heart {
  color: red;
}

.cont_fab {
  display: flex;
  justify-content: center;
}

.fab_boton {
  position: fixed;
  bottom: 30px;
}

.fa-phone-alt {
  color: #9e2372;
  background-color: #dddc82;
  font-size: 30px;
  padding: 13px;
  border-radius: 50%;
  border: 2px solid #9e2372;
  min-width: 60px;
}

.proweb {
  font-size: 14px;
  margin: 0 5px;
  color: pink;
}
/* Media queries */
@media only screen and (min-width: 600px) {
  .main_cont {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: 0 5%;
  }
  #logo {
    width: 120px;
  }
  header {
    top: -90px;
  }
  .cont_fab {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .main_drinks {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media only screen and (max-width: 599px) {
  #cabecera {
    display: none;
  }
  .cont_bebidas {
    padding: 0 0px;
  }
  header {
    padding: 0px;
  }
}

/* ESTILOS DE LOS MODALES */

.color {
  color: black;
}

.modal-contenido {
  background-color: rgb(224, 224, 224);
  width: 80vw;
  padding: 15px 10px 0px;
  margin: 80px auto;
  position: relative;
  height: 70vh;
  overflow-y: scroll;
}

.cerrar {
  color: black;
}

/* Máxima anchura para los modales de imágenes */
.max_ancho {
  max-width: 400px;
  height: auto;
}

/* No mostrar imágenes modales a partir de pantallas mayores de 700px */
@media only screen and (min-width: 700px) {
  .no_mostrar {
    display: none;
  }
  .imagen {
    cursor: initial;
  }
  .hero h2 {
    padding-top: 80px;
  }
  .btn,
  .reservar {
    font-size: 16px;
    padding: 10px;
  }
}

.modal {
  background-color: #1b171ae3;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
  z-index: 99;
}

.position {
  position: sticky;
  text-align: right;
  padding: 20px 10px 10px;
  bottom: 0px;
  background-color: rgb(224, 224, 224);
}

.cont_img_modal {
  position: relative;
}

.fa-times {
  font-size: 2.5rem;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* TARGETS POLÍTICAS */
#legal:target,
#privacidad:target,
#cookies:target {
  opacity: 1;
  pointer-events: auto;
}

/* TARGETS IMÁGENES */
#t_aguacate:target,
#t_salmon:target,
#hummus:target,
#rulo:target,
#tumaca:target,
#sucu:target,
#mermelada:target,
#tortilla:target,
#granola:target,
#huevos:target,
#chia:target,
#gofre:target,
#macedonia:target,
#tortitas:target,
#bao:target,
#carpa_tomate:target,
#carpa_solomillo:target,
#tartar:target,
#tartar_salmon:target,
#tataki:target,
#veggie:target,
#carne:target,
#pollo:target,
#chicken:target,
#casa:target,
#calabaza:target,
#tropical:target,
#solomillo:target,
#suprema:target,
#bacalao:target,
#zanahoria:target,
#queso:target,
#helado:target,
#resplandor:target,
#euforia:target,
#silvestre:target,
#mora:target,
#zumo:target {
  opacity: 1;
  pointer-events: auto;
}
