/* PÁGINA RESERVAS */

.barra_sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

.hero {
  height: 60vh;
  background-image: url("../imagenes/meson.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
}

.hero_text {
  background-color: #9e2373d5;
  min-height: 100%;
}

.hero h2 {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 200;
  padding: 12vh 30px 20px;
}

.corazon {
  color: white;
  display: block;
  font-size: 2.5rem;
  width: 100%;
  padding: 20px 0 5px;
}

.amor {
  width: 100%;
  text-align: center;
}

main {
  display: flex;
  margin: 5%;
}

.imagen_form {
  width: 100%;
  min-height: 400px;
  background-image: url("../imagenes/Tortitas_paraiso.jpg");
  border: 2px solid #9e2372;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px 0;
}

/* Sección de mapa y formulario */
/* GOOGLE MAPS */
.map-responsive {
  overflow: hidden;
  padding-bottom: 55%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media only screen and (max-width: 900px) {
  .hero {
    /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
    background-attachment: scroll;
  }
}

@media only screen and (min-width: 800px) {
  .map-responsive {
    padding-bottom: 30%;
  }
}

@media only screen and (max-width: 700px) {
  main {
    flex-direction: column;
  }
  .sec_reservas {
    margin-right: 0;
  }
}

#logotipo {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

/* FORMULARIO DE RESERVAS */
.sec_reservas {
  width: 100%;
  color: #9e2372;
  flex-basis: 180%;
  margin-right: 30px;
}

.sec_reservas p,
.sec_reservas h1 {
  text-align: center;
}

.sec_reservas h1 {
  font-size: 1.8rem;
}

.formulario {
  margin-top: 50px;
}

#requerimientos {
  resize: none;
}

input[type="text"],
textarea {
  width: 100%;
  min-width: 100%;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
}

input[type="email"] {
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 3px;
}

.tel {
  width: 20%;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 3px;
}

input[type="date"],
select {
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 3px;
  color: gray;
}

input[type="submit"] {
  display: block;
  width: 100%;
  background-color: #9e2372;
  color: #ffffff;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
  margin: 20px 0 5px;
  border-radius: 7px;
}

input[type="submit"]:hover {
  color: #9e2372;
  background-color: #ffffff;
  transition: 0.5s;
  border: 1px solid #9e2372;
}

.container {
  border: 2px solid #9e2372;
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
  margin: 20px 0;
}
