* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(35deg, #fff, #ffcccc);
  margin: auto;
  font-size: 15px;
}

header {
  position: sticky;
  top: -40px;
  padding: 10px;
  background: #ffcccc;
}

.logo {
  display: flex;
  justify-content: space-around;
}
#logo {
  width: 60px;
  cursor: pointer;
}

.fa-phone {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #9e2372;
  font-size: 18px;
  font-weight: bold;
  padding-top: 8px;
}
.llamar {
  color: #e27ebf;
}

#menu {
  width: 100%;
  background-color: #9e2372;
}
.myBtnContainer {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding-bottom: 10px;
}

.main_cont {
  display: grid;
  grid-template-columns: 50% 50%;
}

.column {
  padding: 10px;
  display: none; /* Hide columns by default */
}

img {
  max-width: 100%;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  background-color: #9e2372;
  color: #ffffff;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 6px;
  margin: 2px 0;
  border-radius: 7px;
}

/* Add a grey background color on mouse-over */
.btn:hover,
#menu:hover {
  color: #9e2372;
  background-color: #ffffff;
  transition: 0.5s;
  border: 1px solid #9e2372;
}

hr,
h4 {
  color: #9e2372;
}

.gris {
  color: #00000095;
}

.price {
  color: #9e237298;
  font-weight: 800;
}

/* Bebidas */
.bebidas_title {
  font-weight: bold;
  color: #00000095;
}
.column_bebidas {
  width: 100%;
  text-align: center;
}

/* footer */
footer {
  background-color: #9e2372;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.footer {
  text-align: center;
}

.horario,
footer a,
footer h4 {
  color: #ffffff;
}

.fab {
  font-size: 24px;
  margin: 10px;
}
.iconos_footer {
  text-align: center;
}

/* Media queries */
@media only screen and (min-width: 600px) {
  .main_cont {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: 0 5%;
  }
}
